* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #2f2f2f;
    color: white;
}

.content {
    display: block;
    background: #3d3d3d;
    padding: 20px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.content_splsh {
    display: block;
    background: #3d3d3d;
    color: white;
    padding: 20px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.content_splsh:nth-child(1n) {
    margin-top: 10px;
}

.ncov-icon {
    background: url("ncov.png");
    background-size: contain;
    position: relative;
    float: right;
    width: 100px;
    height: 100px;
}

button,
input[type="button"],
input[type="submit"] {
    appearance: unset;
    background: rgb(57, 57, 255);
    color: white;
    border: rgb(36, 36, 185) 2px solid;
    outline: none;
    cursor: pointer;
}

button:disabled {
    color: rgba(16, 16, 16, 0.3);
    background-color: rgba(239, 239, 239, 0.3);
    border-color: rgba(118, 118, 118, 0.3);
    cursor: default;
}

button:hover:not([disabled=""]) {
    background: rgb(36, 36, 185);
    border-color: rgb(57, 57, 255);
    transition: linear 1s;
    transition-duration: 1ms;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    background: rgb(42, 42, 230);
    border: rgb(31, 31, 175) 2px solid;
}

button:active,
input[type="button"]:active,
input[type="submit"]:active {
    background: rgb(18, 18, 138);
    border: rgb(20, 20, 163) 2px solid;
}

a {
    text-decoration: none;
    background-color: rgb(46, 46, 46);
    color: salmon;
}

a:hover {
    text-decoration: underline;
}